<nav class="navbar navbar-expand-lg  navbar-light" style="background-color:orangered;z-index: 1;"  >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-between"
     id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto ">
    <li class="nav-item ">
      <label class="nav-link text-center" href="#" (click)="home()">Home <span class="sr-only">(current)</span></label>
    </li>
    
    <li class="nav-item ">
      <label class="nav-link" (click)="about()" >About Us</label>
    </li>
    <li class="nav-item">
      <label class="nav-link " href="#">Sign Out</label>
    </li>

  </ul>
  </div>
</nav> 

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
<style>
  body {
  font-family: "Lato", sans-serif;
  }
  
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      /* z-index: 1; */
     /* margin-top: 110px;*/
      top: 0;
      left: 0;
      background-color :#111;
       overflow-x: hidden; 
       transition: 0.7s; 
      padding-top: 60px;
  }
  
  .sidenav .a {
      padding: 30px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
       display: block; 
      transition: 0.3s;
      background-color:#111; 
  }
  
  .sidenav .a:hover {
      color: #f1f1f1;
  }
  #Italian
  {
    
      text-decoration: none;
      font-size: 25px;
    display: block; 
      transition: 0.3s;
    color: #818181;
    background-color:#111;
    border:0px;
    cursor: pointer;
  }
  #Italian:hover
  {
    color: #f1f1f1;
  }
  /* .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  } */
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 100px;}
    .sidenav .a {font-size: 20px;}
    #Italian {font-size: 20px;}
  }
  @media(max-width:720px)
  {
    .container{
      width :90%;
    }
  }
  #demo1
  {
    margin-left: 260px;
  }
  
  </style>
</head>
<body>

  <div id="mySidenav" class="sidenav">
    <!-- <a href="/navbar" class="closebtn" >&times;</a> -->
    
    <div class="a">
      <h3>
        <input type="button" id="Italian" name="Italian"  (click)="Bestsellers()" value="Parrathe">
       </h3>   
    </div>
  
    <div class="a">
            <h3>
            <input type="button" id="Italian" name="Italian" (click)="Smallpizza()" value="Punjabi Meals">
            </h3>  
    </div>
            
    <div class="a">
        <h3>
        <input type="button" id="Italian" name="Italian" (click)="Largepizza()" value="Sabji">
        </h3>
    </div>
  
    <div class="a">
        <h3>
    <input type="button" id="Italian" name="Italian" (click)="Breads()" value="Lassi">
        </h3>
    </div>
    <!-- <div class="a">
    <h3>
    <input type="button" id="Italian" name="Italian" (click)="Desserts()" value="Desserts">
    </h3>
    </div> -->
  
  
</div>
<!-- <div class="container" style="margin-left: 290px;">
  <br><br>
      <h2 class="my title" style="background-color: orange;width: 20%">Bestsellers</h2><br>
    <div class="row" >
    <div class ="col-4-lg" >
        <div class="card" style="width: 18rem">
            <img src="\src\images1.jpg" class="first" alt="card one">
              <div class="card-body">
                <h3 class="card-title">  7" Quattro Formaggi Pizza</h3>
                <p class="card-title">
                
                  Pizzas<br>
                  INR:203

                </p>
                    <button  (click)="dominos()" class="btn btn-success">Order online</button>
              </div>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class ="col-4-lg">
        <div class="card" style="width: 18rem">
            <img src="\src\images (1).jpg" class="first" alt="card one">
              <div class="card-body">
                <h3 class="card-title">7" Paneer Tikka Pizza</h3>
                <p class="card-title">
                    Pizzas<br>
                    INR:239
                    </p>
                    <a href="#" class="btn btn-success">Order online</a>
              </div>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class ="col-4-lg">
        <div class="card" style="width: 18rem">
            <img src="\src\93618 (1).jpg" class="first" alt="card one">
              <div class="card-body">
                <h3 class="card-title">7" White Special Pizza</h3>
                <p class="card-title">
                    Pizzas<br>
                    INR:245
                </p>
                    <a href="#" class="btn btn-success">Order online</a>
              </div>
        </div>
    </div>
   </div>
   <br><br><br><br><br>
   <div class="row">
      <div class ="col-4-lg">
          <div class="card" style="width: 18rem">
              <img src="\src\maxresdefault.jpg" class="first" alt="card one">
                <div class="card-body">
                  <h3 class="card-title">7" Special Pan Pizza</h3>
                  <p class="card-title">Pizzas<br>
                    INR:245</p>
                      <a href="#" class="btn btn-success">Order online</a>
                </div>
          </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class ="col-4-lg">
          <div class="card" style="width: 18rem">
              <img src="\src\download.jpg" class="first" alt="card one">
                <div class="card-body">
                  <h3 class="card-title">Cilantro Chilli Bread
                                            </h3>
                  <p class="card-title">Breads & Appetizers<br>
                      INR:135
</p>
                      <a href="#" class="btn btn-success">Order online</a>
                </div>
          </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class ="col-4-lg">
          <div class="card" style="width: 18rem">
              <img src="\src\LavaCakes_Birthday_comp1.jpg" class="first" alt="card one">
                <div class="card-body">
                  <h3 class="card-title">Choco Lava Cake Delight</h3>
                  <p class="card-title">
                      Desserts<br>
                      INR:99
                  </p>
                      <a href="#" class="btn btn-success">Order online</a>
                </div>
          </div>
      </div>
     </div>
  </div>  -->
  <div class="container" style="margin-left: 290px">
      <br><br>
          <h2 class="my title" style="background-color: orange;width: 20%">Parrathe</h2><br>
        <div class="row" >
        <div class ="col-4-lg" >
            <div class="card" style="width: 18rem">
                <img src="\src\P1.jpg" class="first" alt="card one">
                  <div class="card-body">
                    <h3 class="card-title"> Aloo ke parrathe </h3>
                    <p class="card-title">
                    
                      Parrathe<br>
                      INR:149 
    
                    </p>
                    <button  (click)="myevent()" class="btn btn-success">Order online</button>
                  </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class ="col-4-lg">
            <div class="card" style="width: 18rem">
                <img src="\src\P2.jpg" class="first" alt="card one">
                  <div class="card-body">
                    <h3 class="card-title">Gobbi ke parrathe</h3>
                    <p class="card-title">
                       Parrathe <br>
                        INR:166 
                        </p>
                        <button  (click)="myevent()" class="btn btn-success">Order online</button>
                  </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class ="col-4-lg">
            <div class="card" style="width: 18rem">
                <img src="\src\P3.jpg" class="first" alt="card one">
                  <div class="card-body">
                    <h3 class="card-title">Moli ke parrathe</h3>
                    <p class="card-title">
                        Parrathe<br>
                        INR:160 
                    </p>
                    <button  (click)="myevent()" class="btn btn-success">Order online</button>
                  </div>
            </div>
        </div>
       </div>
       <!-- <br><br><br><br><br>
       <div class="row">
          <div class ="col-4-lg">
              <div class="card" style="width: 18rem">
                  <img src="\src\maxresdefault.jpg" class="first" alt="card one">
                    <div class="card-body">
                      <h3 class="card-title">7" Special Pan Pizza</h3>
                      <p class="card-title">Pizzas<br>
                        INR:245</p>
                          <a href="#" class="btn btn-success">Order online</a>
                    </div>
              </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class ="col-4-lg">
              <div class="card" style="width: 18rem">
                  <img src="\src\pizza-vegan-1280x640.jpg" class="first" alt="card one">
                    <div class="card-body">
                      <h3 class="card-title">7" 4 Pepper & Onion Pizza
                                                </h3>
                                                <p class="card-title">Pizzas<br>
                                                  INR:245</p>
                          <a href="#" class="btn btn-success">Order online</a>
                    </div>
              </div>
          </div>
        
         </div> -->
      </div> 
      <div class="container" style="margin-left: 290px">
          <br><br>
              <h2 class="my title" style="background-color: orange;width: 20%">Punjabi Meals</h2><br>
            <div class="row" >
            <div class ="col-4-lg" >
                <div class="card" style="width: 18rem">
                    <img src="\src\PunMeal1.jpg" class="first" alt="card one">
                      <div class="card-body">
                        <h3 class="card-title"> Cholle Bhature </h3>
                        <p class="card-title">
                        
                          Meal<br>
                          INR:199 
        
                        </p>
                        <button  (click)="myevent()" class="btn btn-success">Order online</button>
                      </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class ="col-4-lg">
                <div class="card" style="width: 18rem">
                    <img src="\src\PunMeal2.jpg" class="first" alt="card one">
                      <div class="card-body">
                        <h3 class="card-title">Pav Bhaji</h3>
                        <p class="card-title">
                             Meal<br>
                            INR:179 
                            </p>
                            <button  (click)="myevent()" class="btn btn-success">Order online</button>
                      </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class ="col-4-lg">
                <div class="card" style="width: 18rem">
                    <img src="\src\PunMeal3.jpg" class="first" alt="card one">
                      <div class="card-body">
                        <h3 class="card-title">Butter Chicken</h3>
                        <p class="card-title">
                             Meal<br>
                            INR:261 
                        </p>
                        <button  (click)="myevent()" class="btn btn-success">Order online</button>
                      </div>
                </div>
            </div>
           </div>
           <!-- <br><br><br><br><br>
           <div class="row">
              <div class ="col-4-lg">
                  <div class="card" style="width: 18rem">
                      <img src="\src\maxresdefault.jpg" class="first" alt="card one">
                        <div class="card-body">
                          <h3 class="card-title">10" Special Pan Pizza</h3>
                          <p class="card-title">Pizzas<br>
                            INR:245</p>
                              <a href="#" class="btn btn-success">Order online</a>
                        </div>
                  </div>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class ="col-4-lg">
                  <div class="card" style="width: 18rem">
                      <img src="\src\pizza-vegan-1280x640.jpg" class="first" alt="card one">
                        <div class="card-body">
                          <h3 class="card-title">10" 4 Pepper & Onion Pizza
                                                    </h3>
                                                    <p class="card-title">Pizzas<br>
                                                      INR:245</p>
                              <a href="#" class="btn btn-success">Order online</a>
                        </div>
                  </div>
              </div>
            
             </div> -->
          </div> 
          <div class="container" style="margin-left: 290px">
              <br><br>
                  <h2 class="my title" style="background-color: orange;width: 20%">Sabji</h2><br>
                <div class="row" >
                <div class ="col-4-lg" >
                    <div class="card" style="width: 18rem">
                        <img src="\src\Sabji1.jpg" class="first" alt="card one">
                          <div class="card-body">
                            <h3 class="card-title"> Veg Kohlapuri</h3>
                            <p class="card-title">
                            
                              Sabji<br>
                              INR:202
            
                            </p>
                            <button  (click)="myevent()" class="btn btn-success">Order online</button>
                          </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class ="col-4-lg">
                    <div class="card" style="width: 18rem">
                        <img src="\src\Sabji2.jpg" class="first" alt="card one">
                          <div class="card-body">
                            <h3 class="card-title">Veg Chana Masala</h3>
                            <p class="card-title">
                                Sabji<br>
                                INR:199
                                </p>
                                <button  (click)="myevent()" class="btn btn-success">Order online</button>
                          </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class ="col-4-lg">
                    <div class="card" style="width: 18rem">
                        <img src="\src\Sabji3.jpg" class="first" alt="card one">
                          <div class="card-body">
                            <h3 class="card-title">Panner Tikka </h3>
                            <p class="card-title">
                                Sabji<br>
                                INR:182
                            </p>
                            <button  (click)="myevent()" class="btn btn-success">Order online</button>
                          </div>
                    </div>
                </div>
               </div>
               <br><br><br><br><br>
               <div class="row">
                  <div class ="col-4-lg">
                      <div class="card" style="width: 18rem">
                          <img src="\src\Sabji4.jpg" class="first" alt="card one">
                            <div class="card-body">
                              <h3 class="card-title">Panner Butter </h3>
                              <p class="card-title">Sabji<br>
                                INR:208</p>
                                <button  (click)="myevent()" class="btn btn-success">Order online</button>
                            </div>
                      </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class ="col-4-lg">
                      <div class="card" style="width: 18rem">
                          <img src="\src\Sabji5.jpg" class="first" alt="card one">
                            <div class="card-body">
                              <h3 class="card-title">Veg Kadai</h3>
                                                        <p class="card-title">Sabji<br>
                                                          INR:189</p>
                                                          <button  (click)="myevent()" class="btn btn-success">Order online</button>
                            </div>
                      </div>
                  </div>
                
                 </div>
              </div> 
               
          <div class="container" style="margin-left: 290px">
              <br><br>
                  <h2 class="my title" style="background-color: orange;width: 20%">Lassi</h2><br>
                <div class="row" >
                    <div class ="col-4-lg">
                        <div class="card" style="width: 18rem">
                            <img src="\src\Lassi1.jpg" class="first" alt="card one">
                              <div class="card-body">
                                <h3 class="card-title">Lassi
                                                          </h3>
                                <p class="card-title">Lassi<br>
                                    INR:120
              </p>
              <button  (click)="myevent()" class="btn btn-success">Order online</button>
                              </div>
                        </div>
                    </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class ="col-4-lg">
                    <div class="card" style="width: 18rem">
                        <img src="\src\MangoLassi.jpg" class="first" alt="card one">
                          <div class="card-body">
                            <h3 class="card-title">Mango Lassi</h3>
                            <p class="card-title">Lassi<br>

                              INR:125
                              
        </p>
        <button  (click)="myevent()" class="btn btn-success">Order online</button>
                          </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class ="col-4-lg">
                <div class="card" style="width: 18rem">
                  <img src="\src\Lassi2.jpg" class="first" alt="card one">
                    <div class="card-body">
                      <h3 class="card-title">Strawberry Lassi</h3>
                      <p class="card-title">Lassi<br>

                        INR:135
                        
  </p>
  <button  (click)="myevent()" class="btn btn-success">Order online</button>
                    </div>
                    </div>
              </div>
          </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <!-- <br><br><br><br><br> -->
               
              <!-- </div>  -->
              <!-- <div class="container" style="margin-left: 290px">
                  <br><br>
                      <h2 class="my title" style="background-color: orange;width: 20%">Desserts</h2><br>
                    <div class="row" >
                        <div class ="col-4-lg">
                            <div class="card" style="width: 18rem">
                                <img src="\src\MCcake.png" class="first" alt="card one">
                                  <div class="card-body">
                                    <h3 class="card-title">McCafe-BlueBerry Cheese Cake</h3>
                                    <p class="card-title">
                                        Desserts<br>
                                        INR:202
                                    </p>
                                        <a href="#" class="btn btn-success">Order online</a>
                                  </div>
                            </div>
                        </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class ="col-4-lg">
                      <div class="card" style="width: 18rem">
                          <img src="\src\MCCake1.png" class="first" alt="card one">
                            <div class="card-body">
                              <h3 class="card-title">McCafe-Chocolate Express Cake</h3>
                              <p class="card-title">
                                  Desserts<br>
                                  INR:179
                              </p>
                                  <a href="#" class="btn btn-success">Order online</a>
                            </div>
                      </div>
                  </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class ="col-4-lg">
                      <div class="card" style="width: 18rem">
                          <img src="\src\MCcake2.png" class="first" alt="card one">
                            <div class="card-body">
                              <h3 class="card-title">Choco Marble Slice Cake</h3>
                              <p class="card-title">
                                  Desserts<br>
                                  INR:106
                              </p>
                                  <a href="#" class="btn btn-success">Order online</a>
                            </div>
                      </div>
                  </div>
                   </div>
                   <br><br><br><br><br>
                   
                  </div> -->
<body>
<script>
  $(document).ready(function(){
    $('.col-4-lg').hover(
      function(){
        $(this).animate({
          marginTop:"=-5%",
        },200);
      },
      function(){
        $(this).animate({
          marginTop:"=1%",
        },200);
      }
    )
  });
  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</body>
</html>   


