 
<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--Contains css icons -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>About Us</title>
	<!-- <link rel="stylesheet" href="styleabout.css"> -->
</head>
<body>
	<!-- <div class="team-section">
		<h1>Our Team</h1>
		<span class="border"></span>
		<div class="ps">
			<a href="#p1"><img src="Food.jpg" alt="No image found"/></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#p2"><img src="Food.jpg" alt="No image found"/></a>
		</div> -->
		<!-- <div class="section" id="p1"> -->
				<span class="name">Harsh Srivastava</span>
				<span class="border"></span>
				<p>
					RollNo: CE-126<br/>
					Id:16ITUON021<br/>
					Sem:5<br/>
					Batch:D3<br/>
				</p>
		<!-- </div> -->
		<!-- <div class="section" id="p2"> -->
				<span class="name">Samarth Shah</span>
				<span class="border"></span>
				<p>
					RollNo: CE-117<br/>
					Id:16CEUOS096<br/>
					Sem:5<br/>
					Batch:D3<br/>
				</p>
		<!-- </div> -->
	<!-- </div> -->
	 <!-- <footer class="footer">
		<div class="container" id="1"> 
		  <div class="row">
			<div class="col-sm-12 text-center">
			 <div class="social-icon">
			<button (click)="xyz()"><i class="fa fa-facebook"></i></button>
			   <a href=""><i class="fa fa-twitter"></i></a>
			   <a href=""><i class="fa fa-google-plus"></i></a>
			   <a href=""><i class="fa fa-pinterest"></i></a>
			   <a href=""><i class="fa fa-rss"></i></a>
			   <a href=""><i class="fa fa-linkedin"></i></a>
			   <a href=""><i class="fa fa-vimeo-square"></i></a>
			   <a href=""><i class="fa fa-youtube-square"></i></a>
			   <a href=""><i class="fa fa-dribbble"></i></a>
			   </div>
			   <div class="copyright">
				 <p class="white"> &copy; 2018 <b>FOODIE BAY</b> </p>
				 <div class="bordernow">
	
				   </div>
				 </div>
			</div>
			</div>
		  </div>          
		</footer>  -->
</body>
</html>