
<!-- <!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" href="login.component.css">  -->
  <!-- <script>
    function validateForm(){
      var x= document.forms["loginform"]["username"].value;
      var y= document.forms["loginform"]["password"].value;
      
      if(x==""||y=="")
      {
        alert("Invalid Username or Password...");
        return false;
      }
    }
  </script> -->
<!-- </head>
<body> -->
   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    
   <!DOCTYPE html>
  <html>
      
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
   
      </head>
   <body>
      
  
  <form class="box " action="/navbar" method="POST"  onsubmit="return validateForm()" name="loginform">
    <div class="myclass animated bounceInRight">
    <h1>Login</h1>
      
    <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
    <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <input type="submit" (click)="Login()" value="Login"  >
    <strong class="mystrong">{{ result }}</strong>
     </div>
     <button (click)="RedirectToRegistration()" id="colorchange"> New User? </button> 
    </form>
  
  </body>
</html>
<!-- </body>
</html> -->